body{
    background:black url(../Imagens/light-up-this-cloud-wallpaperwaifu-com\ -\ frame\ at\ 0m0s.jpg) center center no-repeat fixed;
    background-size: cover;
    text-align: center;
}
header{
    margin-bottom: 30px;
}
header img{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}
header nav a{
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid black;
    padding: 5px;
   
}
header nav a:hover{
    color: aqua;
    transition-duration: .5s;

}
main{
    color:whitesmoke;
    min-width: 300px;
    max-width: 600px;
    margin: 80px auto;
    text-decoration: none;
}
main iframe.leitor-de-pdf{
    min-width: 300px;
    max-width: 600px;
    height: 500px;
    margin: 40px 50px;
    
}
main div.imagem1{
    background-image: url(../Imagens/magias.jpg);
    background-size: cover;
    margin: 50px auto;
    width: 200px;
    height: 200px;
}
footer{
    color: whitesmoke;
    text-decoration: none;
}
footer a{
    color: whitesmoke;
    text-decoration: none;
}
footer a:hover{
    color: blue;
    transition-duration: .5s;
}